name: Lints apps

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - '**/umbrel-app.yml'

jobs:
  lint-apps:
    name: Lint apps (Full)
    runs-on: ubuntu-latest
    steps:
      - uses: sharknoon/umbrel-app-linter-action@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          base: "3af708c9"
          head-sha: ${{ github.sha }}
