name: Lints apps (PR)

on:
  pull_request:
    branches:
      - master
    paths:
      - '**/umbrel-app.yml'

jobs:
  lint-apps:
    name: Lint apps (Partial)
    runs-on: ubuntu-latest
    steps:
      - uses: sharknoon/umbrel-app-linter-action@v1
