name: Update umbrel-app.yml metadata version

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  update-umbrel-app:
    if: github.actor == 'dependabot[bot]'
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ github.head_ref }}
      - uses: CPardi/update-umbrel-app-action@000eab82d99e2220e6715b74ee0667a593f48851
        with:
          source_service_name: web
